

body {
    background: url("/images/close-up-photo-of-a-cheese-burger-1633578.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

